@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: Aleo, sans-serif;
  src: url('/app.manager/fonts/Aleo-Regular.ttf');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Aleo, sans-serif;
}
